<!-- Весь контент страницы будет находиться в блоке content -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
    Результаты поиска
{% endblock title %}

{% block content %}
    <h1>Результаты поиска</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Поиск">
        <button type="submit">Искать</button>
    </form>
    {% if results %}
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Дата публикации</th>
                <th>Текст (первые 20 символов)</th>
            </tr>
            {% for post in results %}
                <tr>
                    <td>{{ post.title|censor }}</td>
                    <td>{{ post.date_create|date:"d M Y" }}</td>
                    <td>{{ post.content|truncatechars:20|censor }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>По вашему запросу ничего не найдено.</p>
    {% endif %}
</div>

